h1 {
    color: white;
}

button {
    padding: 10px 15px;
    margin-top: 50px;
    font-size: 24px;
    background-color: #6C38CC;
    color: white;
    border-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.activities {
    margin-top: 30px;
    margin-left: 10%;
    padding: 20px 30px;
    width: 50%;
    display: flex;
    justify-self: center;
}

.activities li {
    justify-self: left;
    color: rgb(238, 223, 223);
    font-size: 18px;
}

.wrapper {
    margin: 50px;
}

.wrapper input {
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    color: #6C38CC;
    margin-bottom: 30px;
}

.example {
    color: white;
    font-size: 14px;
}